In [1]:
import pandas as pd
import numpy as np

creat a dataframe of European countries's prevalence estimates of intimate partner violence

In [31]:
df_europa = pd.DataFrame({'Survey_year': ['01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018',
                                   '01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018',
                                   '01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018','01/01/2018',
                                   '01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018',
                                   '01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018',
                                   '01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018',
                                   '01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018',
                                   '01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018',
                                   '01/01/2018', '01/01/2018', '01/01/2018', '01/01/2018','01/01/2018'], 
                   
                   'Country': ['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 
                               'Georgia', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Montenegro', 
                               'North Macedonia', 'Republic of Moldova', 'Serbia', 'Tajikistan', 'Turkey', 'Ukraine',
                               'Austria', 'Belgium', 'Bulgaria', 'Croatia','Cyprus',
                               'Czechia','Denmark','Estonia','Finland','France',
                               'Greece','Hungary','Iceland','Ireland', 'Italy',
                               'Latvia','Lithuania','Luxembourg','Malta','Netherlands',
                               'Norway','Poland','Portugal','Romania','Slovakia',
                               'Slovenia','Spain','Sweden','Switzerland','United Kingdom of Great Britain and Northern Ireland'], 
                   
                   'Value':[13, 10, 14, 21, 12, 
                            10, 16, 13, 23, 16, 
                            13, 27, 17, 24, 32, 18,
                            15, 22, 19, 13, 16, 
                            22, 23, 21, 23, 22,
                            18, 19, 21, 16, 16,
                            25, 22, 20, 17, 21,
                            20, 13, 18, 18, 18,
                            18, 15, 21, 12, 24
                           ]})

df_europa

   Survey_year                                            Country  Value
0   01/01/2018                                            Albania     13
1   01/01/2018                                            Armenia     10
2   01/01/2018                                         Azerbaijan     14
3   01/01/2018                                            Belarus     21
4   01/01/2018                             Bosnia and Herzegovina     12
5   01/01/2018                                            Georgia     10
6   01/01/2018                                         Kazakhstan     16
7   01/01/2018                                             Kosovo     13
8   01/01/2018                                         Kyrgyzstan     23
9   01/01/2018                                         Montenegro     16
10  01/01/2018                                    North Macedonia     13
11  01/01/2018                                Republic of Moldova     27
12  01/01/2018                                             Serbia     17
13  01/01/2018                                         Tajikistan     24
14  01/01/2018                                             Turkey     32
15  01/01/2018                                            Ukraine     18
16  01/01/2018                                            Austria     15
17  01/01/2018                                            Belgium     22
18  01/01/2018                                           Bulgaria     19
19  01/01/2018                                            Croatia     13
20  01/01/2018                                             Cyprus     16
21  01/01/2018                                            Czechia     22
22  01/01/2018                                            Denmark     23
23  01/01/2018                                            Estonia     21
24  01/01/2018                                            Finland     23
25  01/01/2018                                             France     22
26  01/01/2018                                             Greece     18
27  01/01/2018                                            Hungary     19
28  01/01/2018                                            Iceland     21
29  01/01/2018                                            Ireland     16
30  01/01/2018                                              Italy     16
31  01/01/2018                                             Latvia     25
32  01/01/2018                                          Lithuania     22
33  01/01/2018                                         Luxembourg     20
34  01/01/2018                                              Malta     17
35  01/01/2018                                        Netherlands     21
36  01/01/2018                                             Norway     20
37  01/01/2018                                             Poland     13
38  01/01/2018                                           Portugal     18
39  01/01/2018                                            Romania     18
40  01/01/2018                                           Slovakia     18
41  01/01/2018                                           Slovenia     18
42  01/01/2018                                              Spain     15
43  01/01/2018                                             Sweden     21
44  01/01/2018                                        Switzerland     12
45  01/01/2018  United Kingdom of Great Britain and Northern I...     24

In [33]:
df_europa.to_csv('cleaned_data_2.csv', index = False, header = True)